tbody {
		display:block;
		max-height:413px;
		overflow-y:auto;
}

thead, tbody tr {
		display:table;
		width:100%;
		table-layout:fixed;
}


thead input{
		text-align: center !important;
  vertical-align: middle !important;
}


/* Change the color of bootstrap hover */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #4DAF7C;
}

.table-content{
		margin-top: 60px;
}

