<alert messages="messages" type="danger"> </alert>
<div class="form-group">
	<label for="email">Email address:</label>
 <input type="text" class="form-control" id="email" data-ng-model="company.name" 
 							placeholder="{{'Enter new email'}}"
 							ng-disabled={{disable}}>
</div>
<div class="form-group">
  <label for="adr">Adress:</label>
  <input type="text" class="form-control" id="adr" data-ng-model="company.adress" 
  							placeholder="{{'Enter new adress'}}"
 							 ng-disabled={{disable}}>
</div>
<div class="form-group">
  <label for="pwd">Phone:</label>
  <input type="text" class="form-control" id="pwd" data-ng-model="company.phone" 
  							placeholder="{{'Enter new telephone'}}"
  							ng-disabled={{disable}}>
</div>
