<div class="">
	<form class="almostJumbotron">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" data-ng-model="company.name">
  </div>
  <div class="form-group">
    <label for="pwd">Adress:</label>
    <input type="password" class="form-control" id="pwd" data-ng-model="company.adress">
  </div>
  <div class="form-group">
    <label for="pwd">Phone:</label>
    <input type="password" class="form-control" id="pwd" data-ng-model="company.phone">
  </div>
  <div class=text-right>
     <button data-ng-click="create()" class="btn-info btn">Create</button>
     <button onclick="history.go(-1);" class="btn-danger btn">Cancel</button>
		</div>
	</form>
</div>