.login-form{
  background: #f7f7f7;
  width: 30%;
  margin-top: 10%;
  margin-left:35%;
  position: relative;
  padding-top: 3%;
  font-size: 14px;
  text-align: left;
  border-right: 1px solid #ddd;
}

.info-login-group-margin{
		margin-left: 10% !important;
		margin-top: 3% !important;
		margin-right: 10% !important;
}

.padding-login-form{
		padding-bottom: 5%;
}