.user-listview-selectedroles{
	margin-right: 15px;
	margin-left: 15px;
}


<!--Beatiful checkbox -->
.user-form-checkbox-span{
	height: 33px !important;
}

.user-form-checkbox-icon{
	margin: 3px !important;
}