<alert messages="messages" type="danger"> </alert>
<div class="form-group">
 <label for="email">Username:</label>
 <input type="text" class="form-control" data-ng-model="user.name" ng-disabled={{disable}}>
</div>

<div class="form-group">
  <label for="adr">User email:</label>
  <input type="text" class="form-control" data-ng-model="user.username" ng-disabled={{disable}}>
</div>

<div class="form-group" ng-show="!{{disable}}">
  <label for="adr">Password:</label>
  <input type="password" class="form-control" data-ng-model="user.password" ng-disabled={{disable}}>
</div>

<div class="form-group" ng-show="!{{disable}}">
  <label for="adr">Repeat Password:</label>
  <input type="password" class="form-control" data-ng-model="user.repeatPassword" ng-disabled={{disable}}>
</div>
{{user.isAdmin}}
<div class="form-group">
	 <div class="btn-group"
	 		style="margin-top:5px">
	     <label class="btn btn-primary" 
	     			style="height:33px" 
	     			ng-click="user.isAdmin=user.isAdmin? false : true"
	     			ng-disabled={{disable}}>
	       <span>
	       <i ng-show="user.isAdmin" class="user-form-checkbox-icon fa fa-check" aria-hidden="true"></i></span>
	     </label>
	     <label class="btn btn-default active">
	        isAdmin
	     </label>
	 </div>
</div>

<div ng-show="!user.isAdmin">
	<div class="form-group">
	  <label for="pwd">User roles:</label>
	  <div>
	  	<select class="form-control" ng-model="role" ng-options="o as o for o in roles | orderBy:'toString()'" >
	  		<option value="" disabled selected style="display: none;"> -- Please Select -- </option>
	  	</select>
	  </div>
	  <button data-ng-click="addRoles(role)" class="form-control btn-primary"> Add role</button>
	</div>
	
	<div class="user-listview-selectedroles">
	  <div class="list-group">
	    <li ng-repeat="rol in user.roles"  class="list-group-item clearfix">
	      <i class="fa fa-file" aria-hidden="true"></i>
	      {{rol}}
	      <span class="pull-right">
	        <button data-ng-click="removeRoles(rol)" class="btn btn-xs btn-danger">
	          <i class="fa fa-trash-o" aria-hidden="true"></i>
	        </button>
	      </span>
	    </li>
	  </div>
	</div>
</div>