<alert messages="messages" type="danger"> </alert>

<div class="form-group">
 <label for="email">Username:</label>
 <input type="text" class="form-control" data-ng-model="user.name" data-ng-disabled={{disable}}>
</div>

<div class="form-group">
  <label for="adr">User email:</label>
  <input type="text" class="form-control" data-ng-model="user.username" data-ng-disabled={{disable}}>
</div>

<div class="form-group" data-ng-show="!{{disable}}">
  <label for="adr">Password:</label>
  <input type="password" class="form-control" data-ng-model="user.password" data-ng-disabled={{disable}}>
</div>

<div class="form-group" data-ng-show="!{{disable}}">
  <label for="adr">Repeat Password:</label>
  <input type="password" class="form-control" data-ng-model="user.repeatPassword" data-ng-disabled={{disable}}>
</div>

<div class="form-group">
	 <div class="btn-group"
	 	  style="margin-top:5px">
	     <label class="btn btn-primary" 
	     			style="height:33px" 
	     			data-ng-click="changeIsAdmin()"
	     			>
	       <span>
	       <i data-ng-show="isAdmin" class="user-form-checkbox-icon fa fa-check" aria-hidden="true"></i></span>
	     </label>
	     <label class="btn btn-default active">
	        isAdmin
	     </label>
	 </div>
</div>

<div data-ng-show="!isAdmin">
	<div class="form-group">
	  <label for="pwd">User roles:</label>
	  <div>
	  	<select class="form-control" data-ng-model="role" data-ng-options="o as o for o in roles | orderBy:'toString()'" >
	  		<option value="" disabled selected style="display: none;"> -- Please Select -- </option>
	  	</select>
	  </div>
	  <button data-ng-click="addRoles(role)" class="form-control btn-primary"
	  		  data-ng-disabled={{disable}}> Add role</button>
	</div>
	
	<div class="user-listview-selectedroles">
	  <div class="list-group">
	    <li data-ng-repeat="rol in user.roles" class="list-group-item clearfix">
	      <i class="fa fa-file" aria-hidden="true"></i>
	      {{rol}}
	      <span class="pull-right">
	        <button data-ng-show="!{{disable}}"  data-ng-click="removeRoles(rol)" class="btn btn-xs btn-danger">
	          <i class="fa fa-trash-o" aria-hidden="true"></i>
	        </button>
	      </span>
	    </li>
	  </div>
	</div>
</div>