<div class="login-form">
	<form class="form padding-login-form">
		<h4 align="center"> Login Form</h4>
  <div class="input-group info-login-group-margin">
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <input type="text" class="form-control" id="email" placeholder="Email" data-ng-model="user.mail">
  </div>
  <div class="input-group info-login-group-margin">
  		<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
    <input type="password" class="form-control" id="pwd" placeholder="Password" data-ng-model="user.password">
  </div>
   
  <div class="form-group info-login-group-margin">
  		 <button data-ng-click="login()" class="form-control btn-primary btn">Login</button>
  </div>
  
  <div class="form-group info-login-group-margin">
  		  <button onclick="history.go(-1);" class="form-control btn btn-warning btn">Register</button>
  </div>
	</form>
</div>